html body
{
	margin: 0;
	overflow-x: hidden;
}

.header
{
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	position: fixed;
	display: flex;
	top: 0px;
}

.title
{
	font-weight: 700;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: rgb(255, 255, 255);
	font-size: 40pt;
	width: 100%;
	position: absolute;
	text-align: center;
	align-self: center;
}

.controls
{
	z-index: 1;
	width: 100%;
	text-align: right;
	position: relative; right: 20px;
}

.buttons
{
	float: right;
	width: 200px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: none;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.start
{
	margin: auto;
}

.stop
{
	margin: auto;
}

.restart
{
	margin: auto;
}

.status
{
	z-index: 2;
	position: absolute;
	float: left;
	margin-left: 0px;
	align-self: center;
	text-align: center;
	width: 200px;
}

.statusRefresh
{
	color: rgb(180, 16, 16);
	font-size: 25pt;
	font-weight: 700;
	font-family: monospace;
	background-color: black;
	border-color: rgb(180, 16, 16);
}

.menu
{
	height: 100%;
	width: 200px;
	position: fixed;
	left: 0;
	top: 90px;
	background-color: rgb(34, 34, 34);
	overflow-x: hidden;
}

.menu button
{
	font-size: 20pt;
	display: block;
	padding: 24px;
	width: 200px;
	border: none;
	font-family: monospace;
	font-weight: 700;
	color: white;
	background-color: rgb(34, 34, 34);
	transition-duration: 0.3s;
	position: relative;
}

.menu button:hover
{
	background-color: rgba(42, 133, 42, 0.534);
}

.menu button:focus
{
	background-color: rgb(42, 133, 42);
}

.subtitle
{
	font-size: 40pt;
	font-family: monospace;
	font-weight: bold;
	width: 70%;
	position: relative; left: 250px;
	padding: 0px;
	margin-top: 30px;
	margin-bottom: 0px;
}

.tab p:not(.subtitle)
{
	font-size: 20pt;
	font-family: monospace;
	font-weight: 700;
	width: 70%;
	position: relative; left: 250px;
}

.tab
{
	position: relative;
	top: 90px;
	z-index: -1;
}

.ram-allocation
{
	text-align: center;
	font-size: 24pt;
	font-family: monospace;
	font-weight: 700;
}

.slidercontainer
{
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.slider
{
	width: 40%;
	border-radius: 5px;
	background-color: rgb(167, 167, 167);
	height: 10px;
	cursor: pointer;
	z-index: 50;
}

.slider::-moz-range-thumb
{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: rgb(55, 168, 55);
  outline: none;
  cursor: pointer;
}