.menu
{
	height: 100%;
	width: 180px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(34, 34, 34);
	overflow-x: hidden;
}

.menu button
{
	font-size: 18pt;
	display: block;
	padding: 20px;
	width: 180px;
	border: none;
	font-family: monospace;
	font-weight: 700;
	color: white;
	background-color: rgb(34, 34, 34);
	transition-duration: 0.3s;
	position: relative;
}

.menu button:hover
{
	background-color: rgb(19, 122, 19);
}

.main
{
	padding: 0px 180px;
}
