html, body
{
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    background-color: rgb(44, 43, 43);
}

h1
{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40pt;
    background-color: black;
    color: white;
    padding: 25px;
    position: relative; top: -40px;
    position: relative; right: 10px;
    width: 100%;
}

h3
{
    width: 20%;
    text-align: center;
    position: relative; top: -77.5px;
    font-size: 28pt;
    font-family: monospace;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(32, 134, 32);
    background-color: rgb(44, 43, 43);
}

.menu button
{
    font-size: 18pt;
    display: block;
    padding: 40px;
    width: 20%;
    border: none;
    font-family: monospace;
    font-weight: 700;
    color: white;
    background-color: rgb(44, 43, 43);
    transition-duration: 0.3s;
    position: relative; bottom: 116px;
}

.menu button:hover
{
    background-color: rgb(19, 122, 19);
}