[Unit]
Description=Headless Minecraft Server
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=owner
WorkingDirectory=/home/owner/files/mcserver/repo/backend
Environment="MCSERVER=/home/owner/files/mcserver"
ExecStart=/usr/bin/node httpserver.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
